openai
pandas
pydantic
groq
requests
logging
datetime
python-dateutil
aiohttp
asd
numpy
pandas
pythonnet==3.0.5
clr-loader
openai
numpy
pandas
pythonnet==3.0.5
clr-loader
pyttsx3
tqdm
tqdm 
pyttsx3 
pythonnet
nest_asyncio
dotenv